body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/background.jpeg');
  font-family: 'Indie Flower', serif;
  cursor: url("./images/brush.png"), default;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  font-family: 'Indie Flower';
  font-size: 20px;
  border-radius: 20px;
  cursor: pointer;
  
}

label {
  text-align: left;
  font-size: 25px;
}

h1 {
  font-size: 40px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 25%;
  justify-content: center;
  margin: 0% auto 10% auto;
}

input {
  padding: 5% 0;
  border-style: ridge;
  border-radius: 20px;
  text-indent: 20px;
  font-family: 'Indie Flower', serif;
  font-size: 20px;
}

input::placeholder {
  /* text-align: center; */
  font-family: 'Indie Flower', serif;
  font-size: 20px;
}

.auth-buttons {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 30px;
}